*,
*::after,
*::before {
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}

:root {
    --night: #222;
    --wine: rgb(127, 55, 69);
    --sienna: rgb(135, 42, 10);
    --vanilla: rgb(222, 222, 130);
    --naplesY: rgb(240, 210, 76);

    --blueberryLight: rgb(141, 138, 204);
    --blueberry: rgb(99, 96, 154);
    --blueberryDeep: rgb(53, 50, 95);
    --mint: rgb(93, 176, 120);
    --mintDeep: rgb(63, 135, 87);

    --chiliRed: rgb(227, 23, 10);
    --statusGreen: rgb(9, 227, 45);
    --madimi: "Madimi One";
}

/* FONTS */
@font-face {
    font-family: pacifico;
    src: url(/src/assets/fonts/Pacifico-Regular.ttf);
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: block;
    background-color: rgba(222, 222, 130, 0.4);
    /* background-color: var(--vanilla); */
}

button {
    text-decoration: none;
    outline: none;
    color: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

label {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 0.25rem;
}

input {
    margin-bottom: 0.5rem;
}

header {
    display: flex;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border-radius: 0 0 0.25rem 0.25rem;

    align-items: center;
    justify-content: space-between;
    background-color: var(--wine);
}

.toDo {
    font-family: pacifico;
    font-size: 1.5rem;
    color: var(--vanilla);
}

.addBtn {
    max-height: 5rem;
    width: 5rem;
    border-radius: 0.5rem;
    line-height: 1.1rem;
    padding-bottom: 0.5rem;

    font-family: pacifico;
    font-size: 1rem;
    color: var(--vanilla);
}

.addBtn:hover {
    background-color: var(--vanilla);
    color: var(--wine);
    opacity: 0.75rem;
    box-shadow: 0.15rem 0.15rem 0.25rem 0.1rem var(--night);
}

.content {
    padding: 1rem 0 1rem 0;
}


.modal {
    display: none;
}

.modalOpen {
    display: flex;
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.inputContainer {
    margin: 0 0 7rem 0;
    max-width: 15rem;
    max-height: 20rem;
    border-radius: 0.45rem;

    padding: 1rem;
    background-color: var(--naplesY);
    box-shadow: 0 0 0.5rem 0.15rem var(--wine);
}

.form {
    margin-top: 1rem;
}

.exitForm {
    margin: 0 0 1rem 0;
    float: right;
    height: 1.5rem;
    width: 1.5rem;

    color: var(--wine);
    line-height: 50%;
    text-align: center;

    font-size: 1rem;
    font-weight: 600;
}

.exitForm:hover {
    background-color: var(--wine);
    color: var(--vanilla);

    border-radius: 50%;
    box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem var(--night);
}




/* CONTENT */
.reading {
    display: flex;
    justify-content: center;
}
.projects, .items, .details {
    display: block;
    min-width: 8rem;
    max-width: 12rem;
}
.projectsHead, .itemsHead, .detailsHead {
    font-family: pacifico;
    color: var(--vanilla);
    min-width: inherit;
    max-width: inherit;
    text-align: center;
    font-size: 1.3rem;
}
.projectsHead {
    background-color: var(--blueberryDeep);
    border-radius: 0.5rem 0 0 0;
}
.itemsHead {
    background-color: var(--sienna);
}
.detailsHead {
    background-color: var(--mintDeep);
    border-radius: 0 0.5rem 0 0;
}
.projectsContent, .itemsContent, .detailsContent {
    padding: 0 0.5rem;
    min-width: inherit;
    max-width: inherit;
    /* overflow-y: scroll; */
    transition: max-height 500ms ease-out;

}
.projectsContent {
    background-color: var(--blueberryLight);
    border-radius: 0 0 0 0.5rem;
}
.itemsContent {
    background-color: var(--vanilla);
}
.detailsContent {
    background-color: var(--mint);
    border-radius: 0 0 0.5rem 0;
}

.projectBtn, .itemBtn {
    font-size: 1rem;
    color: var(--sienna);
    text-align: center;
    padding: 0.25rem 1rem;
    font-family: var(--madimi);
    font-weight: 600;
}

.detail {
    font-family: var(--madimi);
    color: var(--vanilla);
    font-size: 1rem;
}
.deleteBtn {
    margin: 0 0 0.25rem 0;
    height: 1.3rem;
    width: 7rem;
    font-size: 1rem;
    background-color: var(--chiliRed);
    color: var(--vanilla);
    border-radius: 0.5rem;
}